<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2x6RBIeReV4jVop70JEGR-Pp16xa-ovQ</string>
	<key>GCM_SENDER_ID</key>
	<string>165350345023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynagalagaMobileApp</string>
	<key>PROJECT_ID</key>
	<string>mynagalaga-2fb62</string>
	<key>STORAGE_BUCKET</key>
	<string>mynagalaga-2fb62.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165350345023:ios:724930f2fb37aac6526b8a</string>
</dict>
</plist>